*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    color: rgba(0, 0, 0, 0.781);
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.container{
   max-width: 1140px;
   margin: 0 auto;
   padding: 0 16px; 
}
.grid-wrapper{
    display: grid;
    display: -ms-grid;
    grid-template-columns: 30px auto 30px 1fr 30px;
    -ms-grid-columns: 30px auto 30px 1fr 30px;
}
header{
    background-color: rgba(31, 70, 35, 0.815);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    min-height: 70px;
    z-index: 2;
}
header > .container{
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -ms-flex-align: center;
    -webkit-box-align: center;
    height: 100%;
}
header h1{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap;
}
#shopping{
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    margin-left: 12px;
    color:rgba(0, 0, 0, 0.603);
    font-size: 20px;
    cursor: pointer;
    order: 1;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
}
#shopping > #shopping-count{
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    min-width: 16px;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    color: rgba(245, 245, 245, 0.575);
    font-size: 12px;
    font-weight: 600;
    border-radius: 50%;
    background-color:rgba(0, 0, 0, 0.603);
}
nav{
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    justify-content: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-box-flex: 1;
    -ms-flex-positive:1;
    flex-grow: 1;
}
.link{
    font-size: 18px;
    color:rgba(0, 0, 0, 0.705);
    text-decoration: none;
    padding: 8px 12px;
}
.link:hover{
    text-decoration: underline;
    z-index: 5;
}
.link:first-of-type{
    padding-left: 0;
}
.link:last-of-type{
    padding-right: 0;
}
.diamond {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.685);
}
#BANNER{
    position: relative;
    text-align: center;
    margin: 0;
}
#BANNER img {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.banner-text{
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}
.banner-text h2{
    font-size: 40px;
    margin: 0;
    padding: 20px 20px 0 20px;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.74);
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  color: rgb(255, 255, 255);
  background: none;
}
.banner-text a {
font-size: 35px;
color: white;
-webkit-text-stroke: 1px black;
margin: 0;
padding: 0 20px 0 20px;
}
#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    border-top: 0;
    margin: 0;
    background-color:rgba(31, 70, 35, 0.075);
}
#about h2{
    font-size: 40px;
    color: white;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.185);
    color: white;
    text-shadow: 
      3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
       color: rgb(255, 255, 255);
  border-bottom: rgba(0, 0, 0, 0.144) solid;
  
  background: none;
}
#about p{
    max-width: 600px;
    color: rgba(0, 0, 0, 0.781);
}
#kupi h1,h2{
   display: flex;
   justify-content: center;
   background-color:rgba(31, 70, 35, 0.075);
   margin: 0;
   padding: 16px;
   font-size: 32px;
   color: rgba(0, 0, 0, 0.753);
}
.nakit{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(31, 70, 35, 0.075);
}
.nakit article{
    max-width: 400px;
    width: 400px;
    margin: 8 px;
    padding: 20px;
    transition: all 0.3s ease;
    text-align: center;
}
.nakit article:hover{
    background-color: white;
    transition: ease-in 200ms;
}
.botun{
    cursor: pointer;
    border-radius: 15px;
    border-color: antiquewhite;
    padding: 4px 8px;
    display: block;
    font-family: 'Raleway', sans-serif;
}
.nakit .botun{
    margin-left: 130px;
    margin-top: 15px;
}
#kontakt{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    margin: 0;
    background-color: rgba(31, 70, 35, 0.075);
}
#kontakt h2{
  position: absolute;
  text-align: center;
  font-size: 35px;
  color: rgba(255, 255, 255, 0.712);
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  color: rgba(255, 255, 255, 0.719);
  background: none;
}
#kontakt form{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 80px 0 20px 0;
}
.form-oblik{
    display: flex;
    flex-direction: column;
}
.form-oblik label{
    margin: 10px 0;
    font-size: 18px;
    
}
footer{
    background-color: rgba(0, 0, 0, 0.24);
    background: linear-gradient(35deg, rgba(17,17,17,1) 36%, rgba(34,34,34,1) 82%, rgba(87,87,87,1) 100%);
    justify-content: center;
    color: white;
    padding-bottom: 10px;
}
.footer-sadrzaj{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.footer-sadrzaj p{
    margin: 0;
   
}
.footer-sadrzaj h3{
  font-size: 25px;
  font-weight: 300;
  margin: 10px;
}
.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    padding: 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: white;
}
.socials a i{
    font-size: 20px;
}
.socials a:hover i{
color: rgba(255, 255, 255, 0.719);
}
copyright p{
  margin: 0;
  padding-bottom: 12px;
}
.galerija{
  display: grid;
  justify-content: center;
  padding-top: 60px;
  grid-template-columns: repeat(4,260px);
  padding-bottom: 60px;
  border-bottom: rgba(0, 0, 0, 0.144) solid;
  background-color: rgba(31, 70, 35, 0.075);
  grid-gap: 15px 10px;
}

@media screen and (max-width: 1100px){
  .galerija{
    grid-template-columns: repeat(2,260px);
  }
  
}

@media screen and (max-width: 800px) {
  
  .galerija{
    grid-template-columns: repeat(2,260px);
  }
}

@media screen and (max-width: 500px){
  
  .galerija{
    grid-template-columns: repeat(1,260px);
  }
}
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 400ms;
  margin: 5px;
  width: 260px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 70px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 60%;
  height: 90%;
  max-width: 1000px;
  max-height: 1000px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .modal-content {
    width: 100%;
  }

}
[data-tab-content] {
    display: none;
  }
  .active[data-tab-content] {
    display: block;
  }
